<dl class="debug-links color-bg">
	<dt id="links-toggle">
		{{> ../../view/template/svg/CogSymbol.hbs}}
	</dt>
	{{#if layouts}}
	<dd id="select-layout">
		<select size=1>
			{{#each layouts}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</dd>
	{{/if}}
	<dd id="edit-backend">
		<a href="{{global "APP_ROOT"}}symphony/" class="color-fg color-bg" target="_blank">CMS</a>
	</dd>
	{{! <dd id="source"><a href="?debug=xml" target="_blank">Source</a></dd> }}
	<dd id="toggle-tests">
		<a href="#toggle-tests" class="color-fg color-bg">Tests</a>
	</dd>
	<dd id="toggle-state">
		<a href="#toggle-state" class="color-fg color-bg">Route</a>
	</dd>
	<dd id="toggle-blocks-nav">
		<a href="#toggle-blocks-nav" class="color-fg color-bg">Nav</a>
	</dd>
	<dd id="toggle-blocks-content">
		<a href="#toggle-blocks-content" class="color-fg color-bg">Content</a>
	</dd>
	<dd id="toggle-mdown">
		<a href="#toggle-mdown" class="color-fg color-bg">Markdown</a>
	</dd>
	<dd id="toggle-tx">
		<a href="#toggle-tx" class="color-fg color-bg">TX/FX</a>
	</dd>
	<dd id="toggle-grid-bg">
		<a href="#toggle-grid-bg" class="color-fg color-bg">Grid</a>
	</dd>
	<dd id="toggle-graph">
		<a href="#toggle-graph" class="color-fg color-bg">Graph</a>
	</dd>
	<dd id="toggle-logs">
		<a href="#toggle-logs" class="color-fg color-bg">Logs</a>
	</dd>
	<dd id="media-info">
		<span></span>
	</dd>
	<dd id="viewport-info">
		<span></span>
	</dd>
	<dd id="app-state">
		<span class="color-fg color-bg" data-prop="collapsed">c</span><span class="color-fg color-bg" data-prop="withBundle">b</span><span class="color-fg color-bg" data-prop="withMedia">m</span><span class="color-fg color-bg" data-prop="withArticle">a</span>
	</dd>
</dl>
<div id="test-results">
	<h6>Tests <a id="toggle-passed" href="#toggle-passed">Passed</a></h6>
	<p>{{navigator.userAgent}}</p>
	<ul>
	{{#each tests}}
		<li class="{{#if this}}passed{{else}}failed{{/if}}">{{@key}}</li>
	{{/each}}
	</ul>
</div>
